//-------------------------------------
//-- Colors ---------------------------
//-------------------------------------

$white: #f0f0f0;
$black: #111111;
$orange: #ff5500;
$grey: #eeeeee;
$blue: #0b00e5;
$purple: #811c81;

$colors: (
  white: $white,
  black: $black,
  orange: $orange,
  grey: $grey,
  blue: $blue,
  purple: $purple,
);
