@use '@/styles/util' as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(6);
  width: 100%;

  :global .active {
    width: rem(32);
  }

  span {
    display: block;
    width: rem(6);
    height: rem(3);
    border-radius: rem(12);
    background-color: currentColor;
    transition: 0.5s $easeInOutBack;
  }

  .active {
    width: rem(32);
  }
}