@use '@/styles/util' as *;

.content {
  ul {
    position: relative;
    margin: 0 rem(-24);

    @include break-up(laptopsmall) {
      margin: 0 rem(-40);
    }
  }

  li {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    padding: 0 rem(24);

    @include break-up(laptopsmall) {
      padding: 0 rem(40);
    }
  }

  &__item {
    padding: 4.44vh 0;

    @include break-up(laptopsmall) {
      display: flex;
      justify-content: space-between;
      padding: 8.88vh 0;
    }

    h2 {
      margin-bottom: rem(40);
    }

    p {
      white-space: pre-line;

      @include break-up(laptopsmall) {
        max-width: 49.2%;
        width: 100%;
      }
    }
  }
}
